#coninferior
  footer
    article#info
      p
        | Tel.: (036) 3211634 
        br
        | Cel.: 314 5716480-3177750405
        br
        | E-mail: alejndromym@utp.edu.co
        br
        | E-mail: jmecheverry@utp.edu.co
        br
        | Universidad tecnologica de Perreira
        |           
    article#autor
      p
        | PST - Pluvial System Technology
        br
        | @Copyright 2017 ABC
        br
        | Power by 
        a(href="http://pluvialSystem.com", target="_blank") www.pluvialSystem.com
        
// script que dibuja el volumen de agua almacenada
script(type="text/JavaScript", src="/javascripts/gauge.js")     
script(src="/javascripts/menu.js")