#contsuperior
  header
    #logotipo
      a(href="index.php")
        img(src="images/logo.png", alt="PluvialSystem")
    | 			
    #rsociales
      a(href="http://facebook.com", target="_blank")
        img(src="images/facebook.png", alt="")
      | 				
      a(href="http://twitter.com", target="_blank")
        img(src="images/twiter.png", alt="")
      | 				
      a(href="http://youtube.com", target="_blank")
        img(src="images/youtube.png", alt="")
  | 		
  | 		
  .menu_bar
    a.bt_menu(href="#")
      span.icon-menu
      | Menu
  | 		
  nav
    ul
      li
        a(href="Admin/index.php")
          span.icon-home
          | Inicio
      | 				
      li.submenu
        a(href="#")
          span.icon-wrench
          | Servicios
          span.icon-circle-down
        | 					
        ul.children
          li
            a(href="usuario/ducha.php")
              | Ducha 
              span.icon-man-woman
          | 						
          li
            a(href="../usuario/inodoro.php")
              | Inodoro 
              span.icon-man-woman
      | 				
      li
        a(href="../salir.php")
          span.icon-exit
          | Cerrar Sesion
  | 		
  section#slider
    img(src="images/Paisaje1.jpg", alt="Slider 1")
    | 			
    img(src="images/Paisaje2.jpg", alt="Slider 2")
    | 			
    img(src="images/Paisaje3.jpg", alt="Slider 3")
    | 			
    img(src="images/Paisaje4.jpg", alt="Slider 4")
    | 			
    img(src="images/Paisaje5.jpg", alt="Slider 5")
    | 			
    img(src="images/jaguar.jpg", alt="Slider 6")
